@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&family=Rubik+Moonrocks&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Asap", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  background-color: #f1f3f6 !important;
}

a {
  color: inherit;
  text-decoration: none !important;
}
#page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* .ff-am {
  font-family: "Arima Madurai";
} */
.home__banner {
  margin-bottom: 3rem;
  transition: all ease-in-out 0.4s;
  margin-bottom: -5rem;
  border: 1px solid #eaeaea;
}
.home__banner .banner__text,
.clearbg {
  background: #e5fff0;
  background: #fff;
}
.home__categories .cat img {
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 114px;
  border: 1px solid #ccc;
}
.home__banner h1 {
  font-size: clamp(15px, 4vw, 2rem);
  font-family: "Arima Madurai";
}

.card {
  background-color: #ffffff42;
}
.banner {
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.02) 50%
  );
  padding: 20px;
}
.filter_btn {
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #003e29;
  border-radius: 30px;
}
.filter_btn svg {
  width: 1.5rem;
  margin-right: 10px;
  color: #003e69;
}
.product__infos {
  box-shadow: 0px -4px 3px rgb(239 239 239 / 75%);
  width: 100%;
}
.product__title {
  font-weight: 600;
  line-height: 1;
  display: inline-block;
}

.card.card-body.my-2.products img {
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  object-fit: cover;
}
.products.card {
  border: none;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 0;
  border-radius: 0;
}
.ratings {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ratings svg {
  width: 1rem;
  height: 1rem;
  color: #e67a00;
}
.cat {
  z-index: 9;
}
.watch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.watch svg {
  height: 1.5rem;
  width: 1.5rem;
}
.categories span {
  font-weight: 500;

  font-size: 17px;
}
.collections__parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.card.products {
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.card.products:hover {
  box-shadow: 0 0 0 1px #008339;
  z-index: 99;
}

.last__collections {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "main main secondary1" "main main secondary2";
}
.main__img {
  grid-area: main;
}
.secondary1 {
  grid-area: secondary1;
}
.secondary2 {
  grid-area: secondary2;
}
/* .main__img img {
  height: 290px;
  max-height: 290px;
} */
.collections__parent div img {
  max-width: 100%;
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img1 img,
.img2 img,
.img3 img,
.img4 img {
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}
.cat p.text-center {
  font-weight: 500;
}

@media screen and (max-width: 890px) {
  .last__collections {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "secondary1 secondary2"
      "main main "
      "main main";
  }
  .collections__parent .last__collections:nth-child(2) {
    grid-template-areas:
      "main main "
      "main main"
      "secondary1 secondary2";
  }
}
.collections__parent {
  border-top: 3px solid #d6d6d6;
}
.p_preview {
  top: 120px !important;
}

@media screen and (max-width: 640px) {
  .collections__parent {
    display: block;
  }
  .last__collections {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .clearbg {
    height: 70%;
  }
}
@media screen and (min-width: 992px) {
  .clearbg {
    height: 50%;
  }
}
.cat__products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "img1 img2"
    "img3 img4";
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.products__parent h3 {
  font-size: clamp(15px, 2vw, 22px);
}
.col.mb-3 > .products__parent > div:nth-child(odd) {
  background-color: #e5fff0;
}

.cat.col > div {
  position: relative;
  transition: all ease 0.4s;
}
.home__categories {
  overflow: hidden;
}

.cat.col div img {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  margin-bottom: 5px;
}
.cat.col {
  padding-top: 10px;
}

.cat.col div:hover img {
  box-shadow: 0 4px 18px rgb(34 34 34 / 15%);
  transform: scale(1.08);
}
.filters {
  min-width: 250px;
  max-width: 250px;
  position: sticky;
  top: 110px;
  min-height: calc(100vh - 105px);
}
@media screen and (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }
}
.details {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  border: 1px solid #eaeaea;
}
.product__image {
  top: 113px !important;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "p__img0 main__img"
    "p__img1 main__img"
    "p__img2 main__img"
    "p__img3 main__img";
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  border: 1px solid #eaeaea;
}
.main__image {
  grid-area: main__img;
}
.p_img0 {
  grid-area: p__img0;
}
.p_img1 {
  grid-area: p__img1;
}
.p_img2 {
  grid-area: p__img2;
}
.p_img3 {
  grid-area: p__img3;
}
.product__image > div > img {
  max-width: 100%;
  height: 100%;
}
.paths span.mr-2 {
  color: #008339;
  cursor: pointer;
}
span.mr-2.cl-pr::after {
  margin-left: 5px;
  content: "\232A";
  margin-right: 5px;
  color: black;
}
.p_specs.border.p-3 div label {
  min-width: 200px;
}
.bg-white.p-3 label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
label.form-label::after {
  content: "*";
  color: red;
  font-size: 20px;
}
.bg-white.p-md-3 input,
.bg-white.p-md-3 select {
  font-size: 14px;
  transition: all ease-in 0.4s;
}
/* .bg-white.p-md-3 h5::after {
  position: absolute;
  background: #d1d1d1;
  width: 60%;
  height: 2px;
  content: "";
  top: 33px;
  border-radius: 5px;
  margin-left: 11px;
} */
.bg-white.p-md-3 input:focus,
.bg-white.p-md-3 select:focus {
  box-shadow: 0 0 0 2px #39c34b;
}
.form-check-input:checked {
  background-color: #1ec415;
  border-color: #2cc417;
}
.login {
  height: 100vh;
}
.ff-am {
  color: #e4611b;
}
.re-input input ~ span {
  font-size: 14px;
  display: none;
}
input {
  font-size: 15px;
}
.re-input input:invalid[focused="true"] {
  border-color: rgb(220, 53, 69);
}
.re-input input:invalid[focused="true"] ~ span {
  display: block;
}
#page-mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.profile {
  position: fixed;
  top: 65px;
  background: #fff;
  height: calc(100vh - 65px);
  left: 0;
  width: 350px;
  z-index: 99;
  transition: all 0.3s ease;
  transform: translateX(-100%);
}
.profile.show,
.menu.show,
.searchDiv.show {
  transform: translateX(0%);
}
.wrapper__header {
  color: white;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
  padding-right: 10px;
  padding-left: 10px;
  height: 3.5rem;
  background: #e4611b;
  line-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper__header .close_x svg {
  width: 2.5rem;
  height: 2.5rem;
}
.wrapper__header svg {
  height: 2.5rem;
}

.close_x {
  cursor: pointer;
}
.list-group,
.slide_menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}
.slide_menu_item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.slide_menu_item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: #008339 !important;
}
.slide_menu_item svg {
  height: 1.5rem;
  margin-right: 10px;
}
.slide_menu_item + .slide_menu_item,
li + li > .slide_menu_item {
  border-top-width: 0;
}
.navbar.navbar-light {
  border-bottom: 3px solid #008339;
}
.navbar-light .nav > li > a {
  color: #008339;
}
.nav-link:hover,
.navbar-light .nav > li > a:hover {
  color: #e4611b !important;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.list-group-item.active,
.active.slide_menu_item {
  z-index: 2;
  color: #fff;
  background-color: #008339 !important;
  border-color: #008339 !important;
}
.list-group {
  margin-bottom: 0;
}
.list-group > .list-group > .list-group-item {
  padding-left: 30px;
}
a[data-bs-toggle="collapse"]:not(.collapsed) {
  font-weight: bold;
  background-color: #eceff1;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 20px;
}
.panel .panel-heading {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.03); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
header:first-child,
.panel .panel-heading:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.panel .panel-body {
  flex: 1 1 auto;
  padding: 1rem;
}
.form-label {
  margin-bottom: .5rem;
  font-size: 14px;
}